{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<script>
    function change_status(user_id, status, email) {
        $.ajax({
            url: '/status_change/',
            method: 'POST',
            data: {
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                'status': status,
                'email': email,
                'user_id': user_id
            },
            dataType: 'text',
            success: function (data) {
                if (data) {
                    alert("Status Changed to " + status);
                    $('#' + user_id + '-status').text(status);

                    if (status == "approve") {
                        $.get('/send_email/', function (data) {
                            alert("confirmation mail is sent!");
                        });
                    }

                } else {
                    alert("ajax call not success.");
                }
            },
            fail: function (xhr, textStatus, errorThrown) {
                alert('request failed');
            }
        });

    }


</script>
<h2>Filter</h2>
<form action="/user" method="GET">
    <select name="filter">
        <option value="">Select</option>
        <option value="Pending">Pending</option>
        <option value="reject">Rejected</option>
        <option value="approve">Approved</option>
    </select>
    <input type="submit" value="Filter">
</form>
<table>
    {#    {% render_table query_results %}#}
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Phone</th>
        <th>Type</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for item in query_results %}
        <tr>
            <td>{{ item.user_id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.type }}</td>
            <td id="{{ item.user_id }}-status">{{ item.status }}</td>
            <td>
                <input type="submit" value="reject"
                       onclick="change_status({{ item.user_id }},'reject', {{ item.email }} )">
                <input type="submit" value="accept"
                       onclick="change_status({{ item.user_id }},'approve', {{ item.email }} )">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <p id="mailStatus"></p>
                {# <button id="btn1">approve</button>#}
                {# <button id="btn2">Reject</button>#}
            </td>
        </tr>
    {% endfor %}
</table>
</body>


</html>